@model DatabaseAccess.StudentTable

@{
    ViewBag.Title = "Details";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Student Detail</h6>
    </div>
    <div class="card-body">
        <div class="hidden-print">
            <div class="btn-group">
                <a href="#" class="btn btn-success">Further Detail</a>
                <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    @Html.ActionLink("Attendance Report", "StudentAttedance", "AttendanceReports", new { id = Model.StudentID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Time Table", "StudentReport", "TimeTableReports", new { id = Model.StudentID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Character Certificate", "CharacterC", "StudentCertificateReport", new { id = Model.StudentID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Provisional Certificate", "ProvisionalC", "StudentCertificateReport", new { id = Model.StudentID }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Leaving Certificate", "LeavingC", "StudentCertificateReport", new { id = Model.StudentID }, new { @class = "btn btn-default" })


                </ul>
            </div>
            <br />
            <div class="form-group">
                <a href="javascript:window.print()" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                <a href='@Url.Action("SendEmail","#")' class="btn btn-default"><i class="fas fa-envelope-open-text"></i>Email</a>
            </div>
        </div>
        <hr />
        <div class="card-body ">
            <table class="table table-border">
                <dl class="dl-horizontal">

                    <div class="card-header">
                        Student's Information
                    </div>
                    <div class="card-body">
                        <dd>
                            @{string imagepath = Model.Photo;
                                <img src="@Url.Content(imagepath)" alt="Image" style="width:200px;height:150px;max-width: 100%; height: auto;" />
                            }
                        </dd>
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Name)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>
                            </div>

                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.SessionTable.Name)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.SessionTable.Name)
                                </dd>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ProgrameTable.Name)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.ProgrameTable.Name)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ClassTable.Name)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.ClassTable.Name)
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.DateofBirth)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.DateofBirth)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.Gender)
                                </dd>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactNo)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.ContactNo)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Nationality)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.Nationality)
                                </dd>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.CNIC)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.CNIC)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Religion)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.Religion)
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.TribeorCaste)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.TribeorCaste)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.AddmissionDate)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.AddmissionDate)
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.PreviousSchool)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.PreviousSchool)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.PreviousPercentage)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.PreviousPercentage)
                                </dd>
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        Parent's Information
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FatherName)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.FatherName)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FNIC)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.FNIC)
                                </dd>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FathersGuardiansOccupationofProfession)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.FathersGuardiansOccupationofProfession)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.EmailAddress)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.EmailAddress)
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.PhoneOffice)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.PhoneOffice)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.PhoneResident)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.PhoneResident)
                                </dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.FathersGuardiansPostalAddress)
                                </dt>
                            </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.FathersGuardiansPostalAddress)
                                </dd>
                            </div>
                            <div class="col-md-2">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Address)
                                </dt>
                            </div>
                            <div class="col-md-2">
                                <dd>
                                    @Html.DisplayFor(model => model.Address)
                                </dd>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-2">
                             <dt>
                                    @Html.DisplayNameFor(model => model.UserTable.FullName)
                                </dt>
                                </div>
                            <div class="col-md-4">
                                <dd>
                                    @Html.DisplayFor(model => model.UserTable.FullName)
                                </dd>
                            </div>
                            </div>


</dl>
            </table>
            <div class="hidden-print">
                @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>

