@model IEnumerable<DatabaseAccess.HomeWorkTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HomeWorkTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeWorkDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeWorkTypeTable.HomeWorkTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HomeWorkTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeWorkDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeWorkTypeTable.HomeWorkTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentTable.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeWorkID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeWorkID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeWorkID })
        </td>
    </tr>
}

</table>
